[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/snaxjs"]
	path = external/snaxjs
	url = https://github.com/SnaxFoundation/snaxjs2.git
